#footer_row{
	background-color: #d1d1d1;
}

#footer{
	padding-top: 0px;
	max-width: 1400px;
	height: 150px;
	background-color: #bfbfbf;
	margin: auto;
}
		#footer_container{
			max-width: 1200px;
			margin: auto;
		}

		.footer_text{
			position: relative;
			display: inline-block;
			text-align: center;
			left: 50%;
			transform: translate(-50%);
		}

		#gls_logo{
			background-image: url("../images/gls.png");
			background-size: cover;
			height: 50px;
			width: 150px;
			position: relative;
			bottom: 10px;
		}

		#footer hr{
			margin: 0px;
			background-color: #bfbfbf;
		}