#footer_row{
	background-color: #3d3d3d;
	font-family: "Trebuchet MS";
}

#footer{
	padding-top: 0px;
	max-width: 1400px;
	height: 150px;
	background-color: #3d3d3d;
	margin: auto;
}
		#footer_container{
			max-width: 1400px;
			margin: auto;
		}

		.footer_text{
			position: relative;
			display: inline-block;
			left: 50%;
			transform: translate(-50%);
			color: #7c7c7c;
		}

		.footer_text li:before {
			content: '> '
		}
		.footer_text li{
			list-style-type: none;
		}

		.footer_text ul{
			padding-left: 0;
			margin-top: 0;
		}

		.footer_text h3{
			margin-bottom: 5px;
		}

		.footer_text a{
			text-decoration: none;
			color: #7c7c7c;
		}

		#pp_logo{
			top: 10px;
			background-image: url("../images/pp_logo.png");
			background-size: cover;
			height: 30px;
			width: 120px;
			position: relative;
			bottom: 10px;
			margin-bottom: 0px;
		}

		#mp_logo{
			top: 0px;
			background-image: url("../images/mobilepay.png");
			background-size: cover;
			height: 64px;
			width: 220px;
			position: relative;
			bottom: 10px;
			left: -48px;
		}

		#footer hr{
			margin: 0;
			background-color: #bfbfbf;
		}

@media only screen and (max-width: 700px){

	#footer_row{
		padding-bottom: 20px;
	}

	.footer_text{
		left: 20px;
		transform: translate(0);
	}

}
