#footer{
		padding-top: 5px;
		width: 1400px;
		height: 150px;
		background-color: #e2e2e2;
		margin: auto;
	}
		#footer_container{
			width: 1200px;
			margin: auto;
		}

		.footer_text{
			position: relative;
			width: 15%;
			display: inline-block;
			margin-left: 148px;
			margin-right: 0px;
			text-align: center;
		}
		#f_left{
			margin-left: 270px;
		}

		#gls_logo{
			background-image: url("../images/gls.png");
			background-size: cover;
			height: 50px;
			width: 150px;
			position: absolute;
			bottom: 30px;
			right: 25px;
		}