 html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
}

    #content{
            position: relative;
            background-color: white;
            max-width: 1400px;
            margin: auto;
            min-height: 1000px;
        }

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}