body {
	overflow-x:hidden;
	-ms-overflow-x: hidden;
}

#header{
	background-color: white;
	margin: auto;
}

	#bot_header{
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		z-index: 6;
	}

	#top_header{
		max-width: 1200px;
		margin: auto;
	}

	#logo_container{
		position: relative;
		width: 200px;
		left: 50%;
		transform: translate(-50%);
		display: inline-block;
	}

		#logo{
			margin-top: 10px;
			background-image: url("../images/gellettlogo.png");
			background-size: cover;
			width: 200px;
			height: 70px;
		}

		.right_header{
			display: none;
		}

		.dropdown{
			display: none;
		}

	#ombygning_container{
		width: 100%;
		min-height: 24px;
		background-color: black;
		text-align: center;
	}

	#ombygning_container p{
		font-family: 'Roboto';
		color: white;
		font-size: 16px;
		padding-top: 2px;
		margin-top: 0;
		margin-bottom: 0;
	}

@media only screen and (max-width: 700px){

	#vare_antal_header{
        width: 32px;
        font-size: 20px;
        text-align: center;
		float: right;
		border: none;
    }

	#overlay{
		position: fixed;
		display: none;
		top: 87px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
		z-index: 1;
	}

	#ombygning_container p{
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.header_row{
		position: sticky;
		position: -webkit-sticky;
		top: 24px;
		z-index: 2;
	}

	.right_header{
		display: block;
		margin-top: 10px;
	}

	.right_header img{
		float: right;
	}

	.dropdown {
        	overflow: auto;
        	display: none;
		height: 40px;
		width: 34px;
		float: right;
    	}

	.dropbtn{
		width: 34px;
		display: inline-block;
	}

    .dropdown-content {
		display: block;
		overflow: scroll;
		top: 87px;
		right: -220px;
		position: fixed;
		border: 1px solid #3f3f3f;
        background-color: rgba(0,0,0,0.9);
        width: 220px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 3;
		padding-bottom: 20px;
		max-height: 400px;
		overflow: scroll;
    }

	.dropdown_content_2{
		padding-left: 15px;
	}

	.dropdown-content img{
		position: relative;
		right: 30px;
		bottom: 30px;
	}

    .dropdown-content a {
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 80%;
		border-bottom: 1px solid white;
        float: none;
        color: white;
        padding-bottom: 5px;
		padding-top: 15px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 16px;
		font-family: 'Roboto';
    }

	.dropdown-content p, .dropdown-content a{
		margin: 0;
		letter-spacing: 2px;
	}

	.dropdown .dropdown_content_2{
		display: none;
	}

	/*#produkter:hover ~ .dropdown_content_2, .dropdown-content:hover .dropdown_content_2{
		display: block;
	}*/

	#produkter{
		margin: 0;
	}

    .dropdown-content a:hover, .dropdown-content p:hover {
		cursor: pointer;
    }
/*
    .dropdown:hover .dropdown-content {
        display: block;
    }*/

	#mobilepay_logo, #paypal_logo{
		display: none;
	}

	#flex {
		display: flex;
		flex-wrap: wrap;
	}

		.flex2{
			order: 2;
		}

		#left{
			float: left;
		}

		#right{
			float: right;
		}

		#paypal{
			width: 143px;
			height: 50px;
		}

			#paypal_logo{
				height: 50px;
				width: 100%;
			}

		#mobilepay{
			height: 50px;
			width: 143px;
		}

			#mobilepay_logo{
				height: 50px;
				width: 100%;
			}

		#logo_container{
			width: 100%;
			height: 50px;
			padding-left: 5px;
		}

		#logo{
			background-size: contain;
			background-repeat: no-repeat;
			height: 34px;
		}

		.flex2{
			display: none;
		}

		#bot_header p{
			margin: 0;
		}
}