#header{
	background-color: #e2e2e2;
	max-width: 1400px;
	margin: auto;
}

	.col-12{
		background-color: #e2e2e2;
	}

	#logo_container{
		position: relative;
		width: 300px;
		left: 50%;
		transform: translate(-50%);
		display: inline-block;
	}

		#logo{
			margin-top: 10px;
			background-image: url("../images/gellettlogo.png");
			background-size: cover;
			width: 285px;
			height: 100px;

		}


	#ombygning_container{
		width: 100%;
		min-height: 27px;
		background-color: antiquewhite;
		text-align: center;
		font-size: 18px;
	}

	p{
		margin-top: 10 px;
		margin-bottom: 0px;
	}