#header{
	background-color: white;
	margin: auto;
}
	#top_header{
		max-width: 1400px;
		margin: auto;
	}

	#logo_container{
		position: relative;
		width: 300px;
		left: 50%;
		transform: translate(-50%);
		display: inline-block;
	}

	#paypal{
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 300px;
		height: 104px;
	}

	#mobilepay{
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 300px;
		height: 104px;
	}

		#paypal_logo{
			margin-top: 10px;
			background-image: url("../images/paypal_logo.png");
			background-size: cover;
			width: 285px;
			height: 100px;
		}

		#mobilepay_logo{
			margin-top: 10px;
			background-image: url("../images/mobilepay_logo.png");
			background-size: cover;
			width: 285px;
			height: 100px;
		}

		#logo{
			margin-top: 10px;
			background-image: url("../images/gellettlogo.png");
			background-size: cover;
			width: 285px;
			height: 100px;
		}


	#ombygning_container{
		width: 100%;
		min-height: 27px;
		background-color: #000;
		text-align: center;
		font-size: 18px;
	}

	#ombygning_container p{
		font-family: Verdana;
		color: white;
		font-size: 17px;
		margin-top: 10 px;
		margin-bottom: 0px;
	}

@media only screen and (max-width: 1000px){

	#flex {
		display: flex;
		flex-wrap: wrap;
	}

		.flex1{
			order: 1;
			width: 100%;
		}

		.flex2{
			order: 2;
		}

		#left{
			float: left;
		}

		#right{
			float: right;
		}

		#paypal{
			width: 143px;
			height: 50px;
		}

			#paypal_logo{
				height: 50px;
				width: 100%;
			}

		#mobilepay{
			height: 50px;
			width: 143px;
		}

			#mobilepay_logo{
				height: 50px;
				width: 100%;
			}
}