body {
	overflow-x:hidden;
	-ms-overflow-x: hidden;
	font-family: Roboto, sans-serif;
	color: #2d3436;
}

#header{
	background-color: white;
	margin: auto;
}

	#bot_header{
		position: relative;
		position: -webkit-sticky;
		top: 0;
		z-index: 6;
	}

	#top_header{
		max-width: 1200px;
		margin: auto;
	}

	#logo_container{
		position: relative;
		width: 300px;
		left: 50%;
		transform: translate(-50%);
		display: inline-block;
	}

		#logo{
			margin-top: 40px;
			margin-bottom: 30px;
			background-image: url("../images/gellettlogo.png");
			background-size: cover;
			width: 300px;
			height: 105px;
		}

		.right_header{
			display: none;
		}

		.dropdown{
			display: none;
		}

	#info_container{
		width: 100%;
		background-color: black;
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.info_arrow{
		position: relative;
		top: 5px;
		height: 20px;
		width: 20px;
		display: inline-block;
	}

	#info_container p{
		font-family: sans-serif;
		display: inline-block;
		color: white;
		line-height: 30px;
		font-size: 0.88889em;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 700;
	}

	#info_p_last{
		padding-right: 0;
	}

@media only screen and (max-width: 700px){

	body{
	overflow-x: visible;
	-ms-overflow-x: visible;
	}

	#vare_antal_header{
        width: 32px;
        font-size: 20px;
        text-align: center;
		position: relative;
		border: none;
		font-weight: 200;
		display: inline-block;
		right: 10px;
    }

	#info_container{
		position: fixed;
		}

	#info_container p{
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.header_row{
		position: sticky;
		position: -webkit-sticky;
		top: 44px;
		z-index: 99;
	}

	.right_header{
		display: block;
		margin-top: 10px;
		text-align: right;
	}

	.right_header img{
		float: right;
		margin-right: 10px;
	}

	#x{
		position: absolute;
		right: -5px;
		top: 9px;
	}

	.dropdown {
		overflow: auto;
		height: 25px;
		width: 35px;
		display: inline-block !important;
		position: relative;
		top: 2px;
		box-sizing: unset;
		right: 10px;
    	}

	.dropbtn{
		width: 35px;
		display: inline-block;
		float: unset;
	}
	
	.right_header img#bag{
		float: unset;
		display: inline-block;
		position: relative;
    	top: 2px;
		right: 10px;
	}

    .dropdown-content {
		padding-top: 37px;
		display: block;
		overflow: scroll;
		top: 44px;
		right: -220px;
		position: fixed;
		border: 1px solid #dfe6e9;
        background-color: white;
        width: 220px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 3;
		padding-bottom: 20px;
		height: 100vh;
    }

	.dropdown_content_2{
		padding-left: 15px;
		list-style-type: none;
	}

	.dropdown-content img{
		position: relative;
		right: 30px;
		bottom: 30px;
	}

    .dropdown-content a {
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 80%;
		border-bottom: 1px solid white;
        float: none;
        color: black;
        padding-bottom: 5px;
		padding-top: 15px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 16px;
		border-bottom: 1px solid #dfe6e9;
    }

	.dropdown-content p, .dropdown-content a{
		margin: 0;
		letter-spacing: 2px;
	}

	.dropdown .dropdown_content_2{
		display: none;
	}


	#produkter{
		margin: 0;
	}

    .dropdown-content a:hover, .dropdown-content p:hover {
		cursor: pointer;
    }
/*
    .dropdown:hover .dropdown-content {
        display: block;
    }*/

	#mobilepay_logo, #paypal_logo{
		display: none;
	}

	#flex {
		display: flex;
		flex-wrap: wrap;
	}

		.flex2{
			order: 2;
		}

		#left{
			float: left;
		}

		#right{
			float: right;
		}

		#paypal{
			width: 143px;
			height: 50px;
		}

			#paypal_logo{
				height: 50px;
				width: 100%;
			}

		#mobilepay{
			height: 50px;
			width: 143px;
		}

			#mobilepay_logo{
				height: 50px;
				width: 100%;
			}

		#logo_container{
			width: 100%;
			height: 50px;
			padding-left: 15px;
		}

		#logo{
			margin-top: 10px;
			margin-bottom: 0;
			background-size: contain;
			background-repeat: no-repeat;
			height: 34px;
		}

		.flex2{
			display: none;
		}

		#bot_header p{
			margin: 0;
		}
}