html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow: auto;
}

#content{
	background-color: white;
	max-width: 1400px;
	margin: auto;
	overflow: visible;
}

	#pic_container{
		position: relative;
		max-width: 1200px;
		height: 400px;
		margin: auto;
		z-index: 0;
	}
		#dame{
			height: 360px;
		}

		#mand{
			height: 360px;
		}


		#center_pic_left{
			z-index: 0;
			position: relative;
			background-image: url("../images/dame2.jpg");
			width: 100%;
			height: 360px;
			background-size: cover;
			background-repeat: no-repeat;
		}

		#center_pic_right{
			position: relative;
			background-image: url("../images/mand1.jpg");
			width: 100%;
			height: 360px;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.center_pic{
			position: relative;
			width: 400px;
			height: 360px;
			left: 50%;
			transform: translate(-50%);

		}


		#pic_container hr{
			position: relative;
			top: 10px;
		}



	#products{
		position: relative;
		margin: auto;
		padding-top: 10px;
		max-width: 1400px;
		height: 450px;
		background-color: white;
	}
		#bestseller h1{
			width: 100%;
			text-align: center;
		}

		#product_left{
			border-right: 0.5px solid #b7b7b7;
		}

		#product_mid{

		}

		#product_right{
			border-left: 0.5px solid #b7b7b7;
		}

		.product_container{
			position: relative;
			height: 350px;
			display: inline-block;
			background-color: white;
			width: 100%;
		}

			.product_name{
				position: relative;
				left: 50%;
				transform: translate(-50%);
			}

			#product_left_name{
				width: 170px;
			}

			#product_mid_name{
				width: 135px;
			}

			#product_right_name{
				width: 115px;
			}

			#pic_left{
				position: relative;
				background-image: url("../images/varer/skindtasker/computertasker/6356.png");
				background-size: cover;
				height: 200px;
				width: 300px;
				left: 50%;
				transform: translate(-50%);
			}

			#pic_mid{
				position: relative;
				background-image: url("../images/varer/mapper/skrivemapper/5070.png");
				background-size: cover;
				height: 180px;
				width: 260px;
			}

			#pic_right{
				position: relative;
				background-image: url("../images/varer/rejseserien/rejsetasker/4531.png");
				background-size: cover;
				height: 180px;
				width: 270px;
			}

			.product_pic{
				left: 50%;
				transform: translate(-50%);
			}

		.product_text {
			position: relative;
			width: 85%;
			text-align: center;
			left: 50%;
			transform: translate(-50%);
		}

#cookies{
	position: fixed;
	/*animation-name: fly-in;
	animation-duration: 1s;*/
	bottom: -171px;
	background-color: #bababa;
	font-family: Helvetica;
	z-index: 2;
	width: 100%;
}
/*
@keyframes fly-in {
	from {bottom: -171px;}
	to {bottom: 0;}
}*/

	#cookies_wrapper{
		position: relative;
		width: 80%;
		left: 50%;
		transform: translate(-50%);
		height: 150px;
	}

		#cookies_wrapper p{
			width: 75%;
			display: inline-block;
		}

		#okay{
			position: relative;
			left: 20px;
			bottom: 30px;
			width: 20%;
			display: inline-block;
			height: 55px;
			background-color: white;
			border-radius: 6px;
			text-align: center;
			font-size: 34px;
			border: 1px solid #9e9e9e;
		}

			#okay:hover{
				cursor: pointer;
			}

			#okay p{
				position: relative;
				top: 5px;
				margin: 0;
				padding: 0;
			}

@media only screen and (max-width: 1550px){
	.center_pic{
		margin-top: 8px;
	}

	#mand{
		margin-bottom: 8px;
	}
}


@media only screen and (max-width: 1000px){

	#pic_container{
		width: 100%;
		max-width: 500px;
	}

	.center_pic{
		width: 100%;
		height: 100%;
	}

	#mand, #dame{
		margin-bottom: 20px;
	}

	#product_left{
		border-top: 0.5px solid #b7b7b7;
		border-right: none;
		border-bottom: 0.5px solid #b7b7b7;
	}

	#product_right{
		border-left: none;
		border-top: 0.5px solid #b7b7b7;
	}


}