html, body {
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow-x: hidden;
}

button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid white;
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
}

button:hover {
	background-color: #9e9e9e;
	cursor: pointer;
}

#nyhed{
	height: 550px;
	transform: rotate(-20deg);
}

#nyhed h1{
	position: relative;
	top: 40%;
	font-size: 60px;
	letter-spacing: 7px;
	font-family: sans-serif;
}

#nyhed h2{
	position: relative;
	top: 40%;
	font-size: 30px;
	letter-spacing: 7px;
	font-family: sans-serif;
}

.product_container_top{
	position: relative;
}

.nyhed_product_container{
	padding-top: 30px;
	position: relative;
	width: 450px;
	height: 553.5px;
	display: inline-block;
	background-color: white;
	transition: box-shadow 0.4s ease-in-out;
}

.product_pic img{
	height: 488.5px;
	max-height: unset;
}


#content{
	max-width: 1200px;
	margin: auto;
	z-index: -1;
}

.product_img_container .billede{
	height: 488.5px;
}

.product_pic img{
	height: 80%;
	width: 100%;
}

	#pic_container{
		position: relative;
		width: 100vw;
		background-color: #fcfcfc;
		height: 550px;
		margin: auto;
		z-index: 0;
		left: 50%;
		transform: translate(-50%);
	}
		#front_pic{
			height: 550px;
			width: 100%;
		}

		#center_pic{
			z-index: 0;
			width: 1200px;
			height: 550px;
			background-size: cover;
			background-repeat: no-repeat;
			margin: auto;
			position: relative;
			left: 50%;
			transform: translate(-50%);
			transition: opacity 0.4s ease-in-out;
		}

		.product_img_container{
			height: 100%;
			transition: box-shadow 0.4s ease-in-out;
		}

		.center_pic h1, .product_img_container h1{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #dfe6e9;
			letter-spacing: 5px;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}

		.product_img_container h1{
			top: 65%;

		}

		.product_img_container:hover > h1{
			display: block;
		}

		#center_pic:hover{
			cursor: pointer;
			opacity: 0.8;
		}

		#center_pic:hover + h1{
			opacity: 1;
		}

	#products_top{
		position: relative;
		max-width: 1400px;
		height: 675px;
		background-color: white;
		width: 1200px;
		margin-bottom: 130px;
		text-align: center;
		padding-top: 80px;
	}

	#products_bot{
		position: relative;
		margin: auto;
		max-width: 1400px;
		height: 600px;
		background-color: white;
		width: 1200px;
		margin-bottom: 130px;
		text-align: center;
		margin-top: 155px;
	}

	#bestseller{
		text-align: left;
	}

		#bestseller h1{
			padding-left: 5%;
			font-family: sans-serif;
			font-weight: 400;
			letter-spacing: 3px;
			font-size: 45px;
		}

		#pic_top{
			position: relative;
			background-size: cover;
			height: 485.5px;
			width: unset;
			max-height: unset;
		}

		#pic_top img{
			height: 70%;
			width: 100%;
			max-height: unset;
		}

		#pic_top:hover{
			cursor: pointer;
		}
			.product_name{
				position: absolute;
				background-color: rgba(0,0,0,0.5);
				color: white;
				width: 350px;
				font-family: sans-serif;
				z-index: 1;
				text-align: center;
				height: 37px;
			}

			.product_name h2{
				margin-top: 5px;
			}

			#product_left_name{

			}

			#product_mid_name{
				left: 50%;
				transform: translate(-50%);
			}

			#product_right_name{
				right: 0;
			}

			#pic_left{
				position: relative;
				background-size: cover;
				height: 350px;
				width: 450px;
				left: -50px;
				top: 10%;
			}

			.pic_mid{
				position: relative;
				background-size: cover;
				height: 250px;
				top: 0;
				width: 75%;
			}

			#pic_right{
				position: relative;
				background-size: cover;
				height: 400px;
				width: 350px;
				left: 5px;
			}

		.product_text {
			position: relative;
			width: 85%;
			text-align: center;
			left: 50%;
			transform: translate(-50%);
			font-family: Roboto;
			font-size: 25px;
		}




















		.product_container{
				padding-top: 30px;
				margin: 30px 10px;
				position: relative;
				width: 300px;
				height: 370px;
				display: inline-block;
				background-color: white;
				text-align: center;
				transition: box-shadow 0.4s ease-in-out;
			}

				.product_container:hover, .product_img_container:hover{
					box-shadow: 0 5px 15px rgba(0,0,0,0.3);
					/*-webkit-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					-moz-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);*/
					z-index: 1;
				}

				        .billede{
							background-size: contain;
							background-repeat: no-repeat;
							width: 100%;
							height: 305px;
							display: inline-block;
						}

						.billede img{

						}

			.kategori, .kategori h2{
				margin: 0;
				padding-bottom: 10px;
				display: none;
			}

			.billede:hover {
				cursor: pointer;
			}

			#pic_mid{
				width: 95%;
			}

			.product_text{
				width: 100%;
				position: absolute;
				bottom: 40px;
				font-size: 20px;
				font-family: "Trebuchet MS";
				font-weight: bold;
				color: #000;
				left: 50%;
				transform: translate(-50%);
				text-align: initial;
			}

			.product_text p{
				display: inline-block;
				position: relative;
				width: 50%;
				text-align: center;
			}

			.product_text span{
				font-size: 12px;
				position: absolute;
				right: 0;
				top: 25px;
				color: #3cc900;
				width: 50%;
				text-align: center;
			}

			.buy{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 35px;
				box-shadow: 0 3px 10px rgba(0,0,0,0.3);
			}

			#info_button, #buy_button{
				float: left;
				height: 35px;
				width: 50%;
				display: inline-block;
				position: relative;
				box-sizing: unset;
			}

			.info_btn{
				height: inherit;
				width: 100%;
				background-color: lightgray;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.15s ease-out;
			}

			.info_btn:hover{
				background-color: rgba(0, 0, 0, 0.2);
				border: 1px solid rgba(0, 0, 0, 0.2);
				transition: background-color 0.15s ease-out;
			}

			.info_btn:active{
				transform: scale(1.5) translate(0);
				z-index: 2;
			}

			.info_text, .buy_text{
				color: black;
				width: 100%;
				position: absolute;
				text-align: center;
				pointer-events: none;
				font-family: Helvetica;
				font-size: 12px;
				height: inherit;
			}

			.info_text p, .buy_text p{
				margin: 0;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			.buy_text{
				color: white
			}

			.info_btn:hover + .info_text{
				color: black;
			}

			.buy_btn{
				color: whitesmoke;
				height: inherit;
				width: 100%;
				background-color: black;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.15s ease-out;
			}

			.buy_btn:hover{
				background-color: rgba(0, 0, 0, 0.2);
				border: 1px solid rgba(0, 0, 0, 0.2);
				transition: background-color 0.15s ease-out;
			}

			.buy_btn:active{
				transform: scale(1.5) translate(0%);
			}

			.buy_btn:hover + .buy_text{
				color: black;
			}




















#cookies{
	height: 200px;
	position: fixed;
	bottom: -200px;
	background-color: grey;
	font-family: Helvetica;
	color: white;
	z-index: 2;
	width: 100%;
}

	#cookies_wrapper{
		position: relative;
		width: 70%;
		left: 50%;
		top: 15%;
		transform: translate(-50%);
		height: 80px;
	}

		#cookies_wrapper p{
			width: 75%;
			display: inline-block;
		}

		#okay{
			position: relative;
			left: 20px;
			bottom: 20px;
			width: 150px;
			display: inline-block;
			height: 30px;
			background-color: darkgray;
			text-align: center;
			font-size: 16px;
			border: 1px solid #5b5b5b;
			color: white;
		}

			#okay:hover{
				cursor: pointer;
				background-color: lightgrey;
				color: black;
			}

			#cookies h3{
				margin-bottom: 0;
			}

			#okay p{
				position: relative;
				margin: 0;
				padding-top: 5px;
			}


@media only screen and (max-width: 1023px){
	.no_show_from_700{
		display: none;
	}
}


@media only screen and (max-width: 1025px){

	.dropbtn img{
		margin-left: 10px;
	}

	#products_top{
		width: 100vw;
		height: 500px;
		padding-top: 70px;
		margin-bottom: 70px;
	}

	#products_bot{
		width: 100vw;
	}

	#nyhed{
		height: 400px;
	}

	.nyhed_product_container{
		width: 300px;
		height: 400px;
	}

	.product_img_container .billede{
		height: 300px;
	}

	#front_pic, #pic_container{
		height: 347px;
	}

	#center_pic{
		width: 100vw;
		height: auto;
	}

	#products{
		display: none;
	}

	#cookies{
		font-size: 12px;
		padding-bottom: 40px;
	}

	#okay{
		font-size: 14px;
		bottom: 70px;
		left: 220px;
		height: 30px;
	}

	#list{
		width: 950px;
	}

	#cookies{
		position: fixed;
		bottom: -150px;
		height: 150px;
		background-color: #bababa;
		font-family: Helvetica;
		z-index: 2;
		width: 100%;
	}
}

@media only screen and (max-width: 750px){


	#nyhed{
		height: 200px;
	}

	#nyhed h1, #nyhed h2{
		top: 5%;
	}

	#products_top{
		height: 630px;
	}

	#pic_container, #front_pic{
		height: 169px;
	}

	#products_bot{
		margin-top: 100px;
	}

	#bestseller{
		text-align: center;
	}
}


