html, body {
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow: auto;
}

button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid white;
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
}

button:hover {
	background-color: #9e9e9e;
	cursor: pointer;
}

#buy_btn1{
	height: 40px;
	width: 83px;
}

#buy_btn2{
	height: 54px;
	width: 98px;
	left: 175px;
}

#buy_btn3{
	height: 54px;
	width: 112px;
}

#buy_btn4{
	height: 54px;
	width: 190px;
	left: 225px;
}

.center_pic button{
	top: 50%;
}

.product_pic button{
	top: 50%;
}

#content{
	background-color: white;
	max-width: 1400px;
	margin: auto;
	overflow: visible;
}

	#pic_container{
		position: relative;
		max-width: 1200px;
		height: 600px;
		margin: auto;
		z-index: 0;
	}
		#front_pic{
			height: 600px;
			width: 1200px;
		}

		#center_pic_left{
			z-index: 0;
			position: relative;
			width: 1200px;
			height: 600px;
			background-size: cover;
			background-repeat: no-repeat;
		}

	/*
		#center_pic_right{
			position: relative;
			background-image: url("../images/mand1.jpg");
			width: 100%;
			height: 360px;
			background-size: cover;
			background-repeat: no-repeat;
		} */

		/*
		.center_pic{
			position: relative;
			width: 400px;
			height: 360px;
			left: 50%;
			transform: translate(-50%);

		} */


		#pic_container hr{
			position: relative;
			top: 10px;
		}



	#products{
		position: relative;
		margin: auto;
		padding-top: 60px;
		max-width: 1400px;
		height: 600px;
		background-color: white;
		width: 1200px;
	}
		#bestseller h1{
			width: 100%;
			text-align: center;
			font-family: Roboto;
		}

		.product_container{
			position: relative;
			height: 450px;
			display: inline-block;
			background-color: white;
			width: 100%;
		}

			.product_name{
				position: absolute;
				background-color: rgba(0,0,0,0.5);
				color: white;
				width: 350px;
				font-family: sans-serif;
				z-index: 1;
				text-align: center;
				height: 37px;
			}

			.product_name h2{
				margin-top: 5px;
			}

			#product_left_name{

			}

			#product_mid_name{
				left: 50%;
				transform: translate(-50%);
			}

			#product_right_name{
				right: 0;
			}



			#pic_left{
				position: relative;
				background-size: cover;
				height: 400px;
				width: 350px;
			}

			#pic_mid{
				position: relative;
				background-size: cover;
				height: 400px;
				width: 350px;
				left: 50%;
				transform: translate(-50%);
			}

			#pic_right{
				position: relative;
				background-size: cover;
				height: 400px;
				width: 350px;
				left: 50px;
			}

		.product_text {
			position: relative;
			width: 85%;
			text-align: center;
			left: 50%;
			transform: translate(-50%);
		}

#cookies{
	position: fixed;
	/*animation-name: fly-in;
	animation-duration: 1s;*/
	bottom: -171px;
	background-color: #bababa;
	font-family: Helvetica;

	z-index: 2;
	width: 100%;
}
/*
@keyframes fly-in {
	from {bottom: -171px;}
	to {bottom: 0;}
}*/

	#cookies_wrapper{
		position: relative;
		width: 80%;
		left: 50%;
		transform: translate(-50%);
		height: 150px;
	}

		#cookies_wrapper p{
			width: 75%;
			display: inline-block;
		}

		#okay{
			position: relative;
			left: 20px;
			bottom: 30px;
			width: 20%;
			display: inline-block;
			height: 55px;
			background-color: white;
			border-radius: 6px;
			text-align: center;
			font-size: 34px;
			border: 1px solid #9e9e9e;
		}

			#okay:hover{
				cursor: pointer;
			}

			#okay p{
				position: relative;
				top: 5px;
				margin: 0;
				padding: 0;
			}

@media only screen and (max-width: 1550px){
	.center_pic{
		margin-top: 8px;
	}

	#mand{
		margin-bottom: 8px;
	}
}


@media only screen and (max-width: 1000px){

	body{
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#buy_btn1{
		left: 51vw;
	}

	#center_pic_left{
		z-index: 0;
		position: relative;
		right: 9%;
		background-image: url("../images/Forside-billede1-min.jpg");
		height: 85vh;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#cookies{
		font-size: 12px;
		padding-bottom: 20px;
	}

	#okay{
		font-size: 14px;
		bottom: 50px;
		height: 30px;
	}

	#okay p{

	}

	#pic_container{
		margin: 0;
		width: 100%;
		max-width: 500px;
	}

	.center_pic{
		width: 100%;
		height: 100%;
		margin: 0;
	}

	#dame{
		margin-bottom: 0px;
		height: 85vh;
		width: 100%;
	}

	#product_left{
		border-top: 0.5px solid #b7b7b7;
		border-right: none;
		border-bottom: 0.5px solid #b7b7b7;
	}

	#product_right{
		border-left: none;
		border-top: 0.5px solid #b7b7b7;
	}


}