html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
}

    #content{
		position: relative;
		background-color: white;
		max-width: 1400px;
		margin: auto;
		min-height: 1000px;
		margin-bottom: 100px;
	}

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}

	.vare_div{
		border-bottom: 1px solid darkgray;
		position: relative;
		width: 100%;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

		.billede_div, .text_div, .pris_div{
			width: 33%;
			text-align: center;
			display: inline-block;
		}

		.text_div, .pris_div{
			position: relative;
			bottom: 40px;
			font-family: Helvetica;
		}

		#ialt{
			width: 100%;
			border-bottom: 2px solid black;
		}

			#ialt_vare, #ialt_pris, #ialt_space{
				position: relative;
				display: inline-block;
				font-family: Helvetica;
				font-weight: bold;
				width: 33%;
				text-align: center;
			}

		#buy_btn{
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			margin-top: 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			float: right;
		}

		#empty_btn{
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			margin-top: 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			float: left;
		}

		#rabat_btn{
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			margin-top: 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-right: 10px;
			float: right;
		}

		button:hover{
			cursor: pointer;
		}

		#rabatkode{
			display: none;
			position: fixed;
			left: 50%;
			top: 33%;
			transform: translate(-50%);
			z-index: 1;
			border: 1px solid black;
			box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
			width: 400px;
			height: 180px;
			background-color: white;
		}

			#rabat_x{
				margin: 0;
				position: absolute;
				top: 0;
				left: 5px;
				font-size: 16px;
				font-family: Verdana;
				font-weight: bold;
				cursor: pointer;
			}

			#rabatkode h1{
				text-align: center;
				font-family: Verdana;
				letter-spacing: 1px;
			}

			#rabatkode #rabatkode_input{
				text-align: center;
				font-size: 16px;
				height: 40px;
				width: 80%;
				position: relative;
				left: 50%;
				transform: translate(-50%);
				border: 1px solid black;
				text-transform: uppercase;
			}

			#redeem_rabatkode_btn{
				background-color: black;
				border: none;
				color: white;
				padding: 15px 32px;
				margin-top: 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				position: relative;
				left: 50%;
				transform: translate(-50%);
			}

		#article_footer{
			border-top: 2px solid darkslategray;
			padding-top: 15px;
			position: absolute;
			bottom: 0;
			height: 15%;
			width: 80%;
			left: 50%;
			transform: translate(-50%);
			background-color: white;
		}

			.article_btn{
				height: 30px;
			}

			form{
				display: inline-block;
			}

			form #accept_btn{
				height: 30px;
			}

@media only screen and (max-width: 700px){

	#handelsbetingelser_container{
		width: 80%;
	}

}