#menu{
	position: sticky;
	top: 10px;
	width: 160px;
	float: left;
}
	#menu_list{
		width: 160px;
		margin-top: 50px;
	}

		#menu ul{
			text-indent: -30px;
		}

		#menu li{
			list-style-type: none;
			margin-bottom: 10px;
		}
			#menu p{
				font-size: 16px;
				margin-bottom: 0;
				font-family: verdana;
				color: #2d2d2d;
				font-weight: bold;
			}

			#menu p:hover{
				color: #a8a8a8;
			}

			#menu li a{
				text-decoration: none;
				font-size: 14px;
				font-family: verdana;
				color: #595959
			}
			#menu li a:hover{
				color: #a8a8a8;
			}

				#menu ul ul{
					text-indent: 0;
					margin-top: 10px;
				}

	.tekst{
		position: relative;
		right: 50px;
	}

@media only screen and (max-width: 700px){
	#menu{
		display: none;
	}
}

@media only screen and (max-width: 1200px){
	#menu{
		display: none;
	}
}