#menu{

	top: 10px;
	width: 160px;
	float: left;
}
	#menu_list{

		width: 160px;
		position: relative;
		top: 210px;
		min-height: 649px;
	}

	#kategorier{
		position: absolute;
		top: 0;
		width: 100%;
	}

		#menu_list #kategorier p{
			position: relative;
			letter-spacing: 2px;
			left: 18px;
			bottom: 38px;
			font-family: Roboto;
			font-weight: 600;
			color: #2d3436;
		}

		#menu ul{
			top: 30px;
			position: relative;
			padding-inline-start: 5px;
			border-bottom: 1px solid #dfe6e9;
			width: 90%;
			left: 50%;
			transform: translate(-50%);
		}

		#menu li{
			list-style-type: none;
			margin-bottom: 10px;
		}
			#menu p{
				font-size: 14px;
				margin-bottom: 0;
				font-family: Helvetica;
				font-weight: 100;
				color: black;
			}

			#menu p:hover{
				color: #a8a8a8;
			}

			#menu li a{
				text-decoration: none;
				font-size: 14px;
				font-family: Helvetica;
				color: #000
			}
			#menu li a:hover{
				color: #a8a8a8;
			}

				#menu ul ul{
					text-indent: -10px;
					top: 10px;
					border: none;

				}

				#menu ul li ul li{
					margin-bottom: 15px;
				}

	.tekst{
		position: relative;
		right: 50px;
	}

@media only screen and (max-width: 700px){
	#menu{
		display: none;
	}
}

@media only screen and (max-width: 1200px){
	#menu{
		display: none;
	}
}