#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    opacity: .5;
    z-index: 1;
    display: none;
}

#modal{
    display: none;
    position: fixed;
    width: 40%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #f7f7f7;

}

    #modal_header{
        width: 100%;
        height: 75px;
        background-color: #bfbfbf;
    }

        #header_text{
            position: relative;
            width: 270px;
            font-size: 35px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #modal_content{
            height: 80%;
            overflow: auto;
        }

        #modal_text{
            position: relative;
            height: 80%;
            width: 80%;
            left: 50%;
            transform: translate(-50%);

        }

    #modal_footer{
        background-color: #bfbfbf;
        height: 57px;
    }

        #foot_text{
            position: relative;
            width: 77%;
            font-size: 25px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    .check{
        position: relative;
        display: inline-block;
        bottom: 5px;
        zoom: 1.2;
        transform: scale(1.2);
        transform-origin: 0 0;
        width: 20px;
    }