#nav{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;

}
    #list{
        position: relative;
        width: 730px;
        left: 50%;
        transform: translate(-50%);
        padding-bottom: 10px;
    }
        #nav li{
            list-style-type: none;
            display: inline;
            margin-right: 25px;
        }
            #nav li a{
                font-family: verdana;

                color: black;
                text-decoration: none;
                font-size: 20px;
            }

                #nav li a:hover{
                    color: #5b5b5b;
                    border-bottom: 1px solid #5b5b5b;
                }


    .dropdown {
        float: left;
        overflow: hidden;
        display: none;
    }


    .dropdown .dropbtn {
        font-size: 24px;
        font-family: Arial;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: darkgray;
        margin: 0;
        width: 100px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 18px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }




@media only screen and (max-width: 1000px) {
    #list{
        display: none;
    }

    .dropdown{
        display: block;
        z-index: 1;
    }

    .row{
        background-color: white;
    }

    #nav{
        width: 100px;
        z-index: 1;
    }

    #nav hr {
        display: none;
    }
}

@media only screen and (max-width: 1550px) {
    #nav_row{
        transform: translate3d(0px,0px,0px);
        position: sticky;
        position: -webkit-sticky;
        top: -50px;
        width: 100%;
        z-index: 1;
    }

    #nav hr {
        margin-bottom: 0px;
    }
}