#nav{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;

}
    #list{
        position: relative;
        width: 650px;
        left: 50%;
        transform: translate(-50%);
    }
        #nav li{
            list-style-type: none;
            display: inline;
            margin-right: 25px;
        }
            #nav li a{
                color: #7f7f7f;
                text-decoration: none;
                font-size: 20px;
            }

                #nav li a:hover{
                    color: #5b5b5b;
                    border-bottom: 1px solid #5b5b5b;
                }


    .dropdown {
        float: left;
        overflow: hidden;
        display: none;
    }


    .dropdown .dropbtn {
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: darkgray;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }




@media only screen and (max-width: 600px) {
    #list{
        display: none;
    }

    .dropdown{
        display: block;
    }

    .row{
        background-color: #e2e2e2;
    }

    #nav{
     width: 100px;
    }

    #nav hr {
        display: none;
    }
}

@media only screen and (max-width: 1160px) {
    #nav_row{
        position: sticky;
        top: -50px;
        z-index: 1;
    }

    #nav hr {
        margin-bottom: 0px;
    }
}