#nav{
    position: relative;
    z-index: 5;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
}
#nav hr{
    margin-top: 2px;
}

#nav_row{
    background-color: white;
}

    .kurv_container{
        height: 40px;
    }

    .kurv_img{
        position: relative;
        background-image: url("/static/images/icons8-shopping-bag.png");
        height: 40px;
        width: 40px;
        background-size: cover;
        left: 100%;
        transform: translate(-100%);
        top: -5px;
    }

    .kurv_img:hover{
        cursor: pointer;
    }

    #vare_antal{
        position: absolute;
        top: 9px;
        left: -30px;
        width: 30px;
        font-size: 20px;
        text-align: center;
    }

    #list{
        position: relative;
        width: 1100px;
        padding-bottom: 10px;
    }

        .dropdown_start{
            position: relative;
            display: inline-block;
        }

        #nav li{
            list-style-type: none;
            display: inline;
            margin-right: 73px;
        }
            .list_text{
                font-family: Roboto;
                color: black;
                text-decoration: none;
                font-size: 20px;
            }

                .list_text:hover{
                    color: #5b5b5b;
                    border-bottom: 1px solid #5b5b5b;
                }

                .list_text span{
                    font-size: 12px;
                }




    .dropdwn_content{
        width: 175px;
        left: 50%;
        transform: translate(-87.5px);
        display: none;
        position: absolute;
        background-color: white;
        line-height: 2;
        border: 1px solid #ccc;
    }

    .dropdwn_content a{
        text-align: center;
        display: block;
        font-family: Roboto;
    }


    .drop_text{
        font-family: verdana;
        color: black;
        text-decoration: none;
        font-size: 18px;
        padding: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .drop_text:hover{
        color: #5b5b5b;
    }

    #list li:hover .dropdwn_content{
        display: block;
    }

    #list ul{
        margin-bottom: 0;
        margin-top: 5px;
    }

    .not_last{
        border-bottom: 1px solid #ccc;
    }

@media only screen and (max-width: 1200px) {
    #vare_antal {
        position: absolute;
        height: 35px;
        right: 50px;
        width: 35px;
        font-size: 20px;
        text-align: center;
    }

    .kurv_img{
        height: 45px;
    }

    .kurv_container{
        float: right;
        right: 10px;
        width: 50px;
    }
}
@media only screen and (max-width: 700px) {
    #nav_row{
        display: none;
    }

    #list{
        display: none;
    }

    .dropdown{
        display: block;
        z-index: 1;
    }

    .row{
        background-color: white;
    }

    #nav{
        width: 100px;
        z-index: 1;
    }

    #nav hr {
        display: none;
    }

    .kurv_img{
        position: absolute;
        left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    #nav_row{
        transform: translate3d(0px,0px,0px);
        position: sticky;
        position: -webkit-sticky;
        top: -26px;
        width: 100%;
        z-index: 1;
    }

    #nav hr {
        margin-bottom: 0px;
    }

    #nav li{
        margin-right: 30px;
    }
}