#nav{
    position: relative;
    z-index: 5;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}

#nav_row{
    background-color: white;
}

    .kurv_img{
        position: relative;
        background-image: url("/static/images/trolly.png");
        height: 75px;
        width: 75px;
        background-size: cover;
        left: 100%;
        transform: translate(-100%);
    }

    .kurv_img:hover{
        cursor: pointer;
    }

    #vare_antal{
        position: absolute;
        top: 23px;
        left: -20px;
        width: 30px;
        font-size: 20px;
        text-align: center;
    }

    #list{
        position: relative;
        width: 745px;
        left: 50%;
        transform: translate(-50%);
        padding-bottom: 10px;
    }

        .dropdown_start{
            position: relative;
            display: inline-block;
        }

        #nav li{
            list-style-type: none;
            display: inline;
            margin-right: 25px;
        }
            .list_text{
                font-family: verdana;
                color: black;
                text-decoration: none;
                font-size: 20px;
            }

                .list_text:hover{
                    color: #5b5b5b;
                    border-bottom: 1px solid #5b5b5b;
                }




    .dropdwn_content{
        width: 175px;
        left: 50%;
        transform: translate(-87.5px);
        display: none;
        position: absolute;
        background-color: white;
        line-height: 2;
        border: 1px solid #ccc;
    }

    .dropdwn_content a{
        text-align: center;
        display: block;
    }


    .drop_text{
        font-family: verdana;
        color: black;
        text-decoration: none;
        font-size: 18px;
        padding: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .drop_text:hover{
        color: #5b5b5b;
    }

    #list li:hover .dropdwn_content{
        display: block;
    }

    .not_last{
        border-bottom: 1px solid #ccc;
    }
/*

    .dropdown {
        float: left;
        overflow: hidden;
        display: none;
    }


    .dropdown .dropbtn {
        font-size: 24px;
        font-family: Arial;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: darkgray;
        margin: 0;
        width: 100px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 18px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


*/

@media only screen and (max-width: 1000px) {
    #nav_row{
        display: none;
    }

    #list{
        display: none;
    }

    .dropdown{
        display: block;
        z-index: 1;
    }

    .row{
        background-color: white;
    }

    #nav{
        width: 100px;
        z-index: 1;
    }

    #nav hr {
        display: none;
    }

    .kurv_img{
        position: absolute;
        left: 0;
    }
}

@media only screen and (max-width: 1550px) {
    #nav_row{
        transform: translate3d(0px,0px,0px);
        position: sticky;
        position: -webkit-sticky;
        top: -50px;
        width: 100%;
        z-index: 1;
    }

    #nav hr {
        margin-bottom: 0px;
    }
}