#nav{
    width: 1200px;
    margin: auto;
    padding-top: 50px;

}
    #nav #list{
        width: 750px;
        margin: auto;
    }
        #nav li{
            list-style-type: none;
            display: inline;
            margin-right: 15px;
        }
            #nav li a{
                color: #7f7f7f;
                text-decoration: none;
                font-size: 20px;
            }

                #nav li a:hover{
                    color: #5b5b5b;
                }