#nav{
    position: relative;
    z-index: 5;
    max-width: 100%;
    margin: auto;
    margin-top: 15px;
}

#nav_row{
    background-color: white;
    border-bottom: 1px solid #dfe6e9;
}

#nav_content{
    max-width: 1200px;
    margin: auto;
    height: 71px;
}

    .kurv_container{
        height: 71px;
        position: relative;
        width: 80px;
        float: right;
        display: inline-block;
        transform: translate(0,35%);
    }

    .kurv_img{
        position: relative;
        background-image: url("/static/images/shoppingbag.png");
        height: 25px;
        width: 25px;
        background-size: cover;
        left: 100%;
        transform: translate(-100%);
    }

    .kurv_img:hover{
        cursor: pointer;
    }

    #vare_antal{
        font-family: Roboto;
        position: absolute;
        left: -30px;
        width: 30px;
        font-size: 18px;
        text-align: center;
        border: none;
        top: 50%;
        transform: translate(0,-40%);
    }

    #list{
        position: relative;
        width: 1100px;
        height: 71px;
        display: inline-block;
        transform: translate(0,35%);
    }

    #list ul{
        padding: 0;
        margin-top: 0;
    }

        .dropdown_start{
            position: relative;
            display: inline-block;
            height: 35px;
            width: 153px;
            padding-bottom: 20px;
            box-sizing: content-box;
        }

        #nav li{
            list-style-type: none;
            display: inline;
            float: left;
            text-align: center;
            position: relative;
        }
            .list_text{
                font-weight: 700;
                font-style: normal;
                color: #2d3436;
                text-decoration: none;
                font-size: 18px;
                line-height: 1.7;
                letter-spacing: 1px;
            }

            .dropdown_start:hover{
                border: none;
            }

            .dropdown_start:hover .list_text{
                color: grey;
                border-bottom: 1px solid grey;
            }

                .list_text span{
                    font-size: 12px;
                }


    .dropdwn_content{
        width: 153px;
        left: 50%;
        top: 50px;
        transform: translate(-50%);
        display: none;
        position: absolute;
        background-color: white;
        line-height: 2;
        border: 1px solid #dfe6e9;
    }

    .dropdwn_content a{
        text-align: center;
        display: block;
        font-size: 14px;
        font-weight: 100;
        line-height: 3rem;
    }


    .drop_text{
        position: relative;
        color: #2d3436;
        text-decoration: none;
        font-size: 18px;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }

    .drop_border:hover .drop_text{
        color: #fff;
    }

    .drop_border:hover .drop_text{
        color: grey;
        border-bottom: 1px solid grey;
    }

    #list li:hover .dropdwn_content{
        display: block;
    }

    #list li:hover .dropdown_start{
        color: grey;
    }

    .not_last{
        border-bottom: 1px solid #dfe6e9;
    }

@media only screen and (max-width: 1200px) {

    #list{
        width: 950px;
    }

    #nav #katalog{
        display: none;
    }




    #vare_antal {
        position: absolute;
        height: 35px;
        font-size: 20px;
        text-align: center;
    }

    .kurv_container{
        float: right;
        right: 10px;
        width: 50px;
    }

    .kurv_img{
        left: unset;
        transform: unset;
    }

    #products_top{
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    #list{
        width: 714px;
    }

    .dropdown_start{
        width: unset;
        padding-left: 12px;
        padding-right: 25px;
    }


}

@media only screen and (max-width: 700px) {

    #nav_row{
        transform: translate3d(0px,0px,0px);
        position: sticky;
        position: -webkit-sticky;
        top: -26px;
        width: 100%;
        z-index: 1;
    }

    #nav_row{
        display: none;
    }

    #list{
        display: none;
    }

    .dropdown{
        display: block;
        z-index: 1;
    }

    .row{
        background-color: white;
    }

    #nav{
        width: 100px;
        z-index: 1;
    }


    .kurv_img{
        position: absolute;
        left: 0;
    }
}