html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
}

    #content{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        min-height: 1000px;
        font-family: "Trebuchet MS";
        }

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}
    
        #projekter{
            text-align: justify;
            line-height: 1.5;
            width: 90%;
        }
        
        #støtter{
            line-height: 1.5;
        }


        #logos{
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .logo{
            display: block;
            margin-bottom: 20px;
        }

        #logo1{
            background-image: url("../images/Kræft.png");
			background-size: cover;
			width: 92px;
			height: 50px;
            position: relative;
        }

        #logo2{
            background-image: url("../images/WSPA_logo.png");
			background-size: cover;
			width: 175px;
			height: 45px;
            position: relative;
        }

        #logo3{
            background-image: url("../images/red_barnet.png");
			background-size: cover;
			width: 50px;
			height: 50px;
            left: 100px;
            position: relative;
        }

        #logo-container1{
            background-image: url("../images/postnord.png");
            height: 30px;
            width: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
        }

        #logo-container2{
            background-image: url("../images/gls_logo.png");
            height: 30px;
            width: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
        }


@media only screen and (max-width: 1550px) {
    #projekter{
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }

    #støtter{
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }
}

@media only screen and (max-width: 700px) {
    #projekter{
        text-align: justify;
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }

    #projekter p{
        hyphens: auto;
    }

    #støtter{
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }
}
