html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow: auto;
}

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}

		.products {
			float: right;
			max-width: 1000px;
			height: 330px;
		}

			#kategori_beskrivelse {
				position: relative;
				width: 94%;
				left: 50%;
				transform: translate(-47%);
				text-align: justify;
				font-family: Helvetica;
				color: #000;
			}

			#kategori_beskrivelse a{
				color: #474747;
				text-decoration: none;
			}

			.product_container{
				padding-top: 30px;
				margin: 30px 10px;
				position: relative;
				width: 300px;
				height: 370px;
				display: inline-block;
				background-color: white;
				text-align: center;
				left: 50%;
				transform: translate(-50%);
				box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  				transition: box-shadow 0.4s ease-in-out;
			}

				.product_container:hover{
					box-shadow: 0 5px 15px rgba(0,0,0,0.3);
					/*-webkit-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					-moz-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);*/
					z-index: 1;
				}

				.path_container {
					width: 100%;
					text-align: center;
					padding-top: 15px;
					padding-bottom: 20px;
				}

					.path_text {
						display: none;
						color: #474747;
						font-family: Verdana;
						font-size: 17px;
					}

					.path_text a{
						color: #474747;
						font-family: Verdana;
						font-size: 17px;
						text-decoration: None;
					}

					.path_text a:hover{
						text-decoration: underline;
					}

				        .billede{
							background-size: contain;
							background-repeat: no-repeat;
							width: 100%;
							height: 210px;
							display: inline-block;
						}

						.billede img{
							max-height: 210px;
							max-width: 90%;
						}



			.kategori, .kategori h2{
				margin: 0;
				padding-bottom: 10px;
				display: none;
			}

			.billede:hover {
				cursor: pointer;
			}

			.product_text{
				width: 100%;
				position: absolute;
				bottom: 40px;
				font-size: 20px;
				font-family: "Trebuchet MS";
				font-weight: bold;
				color: #000;
				left: 50%;
				transform: translate(-50%);
				text-align: initial;
			}

			.product_text p{
				display: inline-block;
				position: relative;
				width: 50%;
				text-align: center;
			}

			.product_text span{
				font-size: 12px;
				position: absolute;
				right: 0;
				top: 25px;
				color: #3cc900;
				width: 50%;
				text-align: center;
			}

			.buy{
				position: absolute;
				bottom: 10px;
				width: 100%;
			}

			#info_button, #buy_button{
				float: left;
				height: 30px;
				width: 50%;
				display: inline-block;
				position: relative;
				box-sizing: unset;
			}

			.info_btn{
				height: 40px;
				width: 100%;
				background-color: lightgray;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.15s ease-out;
			}

			.info_btn:hover{
				background-color: rgba(0, 0, 0, 0.2);
				border: 1px solid rgba(0, 0, 0, 0.2);
				transition: background-color 0.15s ease-out;
			}

			.info_btn:active{
				transform: scale(1.5) translate(0);
				z-index: 2;
			}

			.info_text, .buy_text{
				color: black;
				width: 100%;
				position: absolute;
				text-align: center;
				top: 2px;
				pointer-events: none;
				font-family: Helvetica;
				font-size: 12px;
			}

			.buy_text{color: white}

			.info_btn:hover + .info_text{
				color: black;
			}

			.buy_btn{
				color: whitesmoke;
				height: 40px;
				width: 100%;
				background-color: black;
				position: absolute;
				cursor: pointer;
				transition: background-color 0.15s ease-out;
			}

			.buy_btn:hover{
				background-color: rgba(0, 0, 0, 0.2);
				border: 1px solid rgba(0, 0, 0, 0.2);
				transition: background-color 0.15s ease-out;
			}

			.buy_btn:active{
				transform: scale(1.5) translate(0%);
			}

			.buy_btn:hover + .buy_text{
				color: black;
			}

@media only screen and (max-width: 1200px){


}


@media only screen and (max-width: 700px){

	#kategori_beskrivelse {
		display: none;
	}

	.path_container .path_text  a{
		font-size: 25px;
	}

	.path_container {
		padding-bottom: 0;
		padding-top: 0;
	}


	.product_container{
		width: 97%;
		height: 273px;
		margin: 30px 0;
	}

		.billede{
			width: 100%;
			height: 120px;
		}

		.billede img{
			height: 120px;
		}

		.product_text{
			position: relative;
			top: -10px;
		}

		.buy{
			bottom: 30px;
			height: 10px;
		}
}