html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: #d6d6d6;
}


	#container{
		min-height: 100%;
		width: 1200px;
		margin: auto;
	}

		.products {
			float: right;
			margin-top: 20px;
			width: 1000px;
			height: 330px;
		}

			.product_container{
				position: relative;
				width: 325px;
				height: 355px;
				display: inline-block;
				background-color: #e2e2e2;
				text-align: center;
				border: 0.5px #e2e2e2 solid;
			}
				.product_container:hover{
					border-left: 0.5px #7f7f7f solid;
					border-right: 0.5px #7f7f7f solid;
					border-radius: 5px;
				}

				.pic{
					position: absolute;
					background-size: cover;
					height: 210px;
					width: 330px;
				}


			.product_text{
				width: 100%;
				position: absolute;
				top: 205px;
				text-align: center;
			}

			.buy{
				position: relative;
				top: 60px;
			}

			#buy_text{
				position: relative;
				top: -47px;
				right: 3px;
				pointer-events: none;
			}


			#pris{
				position: relative;
				font-weight: bold;
				bottom: 50px;
			}

		#overlay{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;

			background: #000;
			opacity: .5;
			z-index: 1;
		}

		#overlay{
			display: none;
		}

		.show{
			display: none;
			background-color: #f7f7f7;
			position: fixed;
		    top: 50%;
		    left: 50%;
		    margin-left: -400px;
		    margin-top: -266.5px;
			width: 800px;
			height: 533px;
			z-index: 2;
			box-shadow: -2px 2px 8px 18px rgba(0, 0, 0, 0.5);
			border-radius: 20px;
		}

			#ex_container{
				position: relative;
				left: 780px;
				bottom: 14px;
				width: 30px;
				height: 30px;
			}
				#ex{
					position: absolute;
					font-family: verdana;
					font-weight: bold;
					font-size: 23px;
					top: 20px;
					right: 20px;
				}

			.show_pic_container{
				position: absolute;
				width: 100%;
				bottom: 100px;
			}
			        #show_image{
						display: none;

						background-size: cover;
						position: relative;
						top: 50%;
						left: 50%;
						margin-left: -280px;
						margin-top: -250px;
						width: 600px;
						height: 400px;
					}

					.show_pic_1{

					}

					.show_pic_2{
						position: absolute;
						background-size: cover;
						width: 112.5px;
						height: 75px;
						border: 0.5px solid #7f7f7f;
						left: 50%;
					}