html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow: auto;
}

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}

		.products {
			float: right;
			max-width: 1000px;
			height: 330px;
		}

			#kategori_beskrivelse {
				position: relative;
				width: 87%;
				left: 50%;
				transform: translate(-45%);
				text-align: justify;
				font-family: Helvetica;
				color: #969696;
			}

			.product_container{
				padding-top: 30px;
				position: relative;
				width: 325px;
				height: 380px;
				display: inline-block;
				background-color: white;
				text-align: center;
				left: 50%;
				transform: translate(-50%);
			}

				.product_container:hover{
					border: 1px #7f7f7f solid;
					box-shadow: 5px 5px;
					z-index: 1;
				}

				.path_container {
					width: 100%;
					text-align: center;
					padding-top: 15px;
					padding-bottom: 20px;
				}

					.path_text {
						color: #969696;
						font-family: Verdana;
						font-size: 17px;
					}

					.path_text a{
						color: #969696;
						font-family: Verdana;
						font-size: 17px;
						text-decoration: None;
					}

					.path_text a:hover{
						text-decoration: underline;
					}

				.pic{
					position: absolute;
					background-size: cover;
					height: 210px;
					width: 330px;
				}

			.kategori, .kategori h2{
				margin: 0;
				padding-bottom: 10px;
			}

			.billede:hover {
				cursor: pointer;
			}

			.product_text{
				width: 100%;
				position: absolute;
				top: 280px;
				text-align: center;
				font-size: 20px;
				font-family: "Trebuchet MS";
				font-weight: bold;
				color: #5b5b5b;
			}

			.product_text p{
			display: inline-block;
			}

			.buy{
				position: relative;
				top: 60px;
			}

			.buy_btn{
				height: 30px;
				width: 90px;
				background-color: #4CAF50;
				border-radius: 20px;
				position: relative;
				left: 50%;
				transform: translate(-50%);
				bottom: 15px;
			}

			.buy_btn:hover{
				cursor: pointer;
			}

			.buy_text{
				position: relative;
				bottom: 48px;
				pointer-events: none;
				color: white;
				font-family: Verdana;
				font-size: 11px;
			}

}