html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
	overflow: auto;
}

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}

		.products {
			float: right;
			max-width: 1000px;
			height: 330px;
		}

			#kategori_beskrivelse {
				position: relative;
				width: 87%;
				left: 50%;
				transform: translate(-45%);
				text-align: justify;
				font-family: Helvetica;
				color: #969696;
			}

			#kategori_beskrivelse a{
				color: #969696;
				text-decoration: none;
			}

			.product_container{
				padding-top: 30px;
				position: relative;
				width: 325px;
				height: 420px;
				display: inline-block;
				background-color: white;
				text-align: center;
				left: 50%;
				transform: translate(-50%);
			}

				.product_container:hover{
					-webkit-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					-moz-box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					box-shadow: 0 0 32px 0 rgba(0,0,0,0.35);
					z-index: 1;
				}

				.path_container {
					width: 100%;
					text-align: center;
					padding-top: 15px;
					padding-bottom: 20px;
				}

					.path_text {
						color: #969696;
						font-family: Verdana;
						font-size: 17px;
					}

					.path_text a{
						color: #969696;
						font-family: Verdana;
						font-size: 17px;
						text-decoration: None;
					}

					.path_text a:hover{
						text-decoration: underline;
					}

				        .billede{
							background-size: contain;
							background-repeat: no-repeat;
							width: 320px;
							height: 210px;
							display: inline-block;
						}

						.billede img{
							max-height: 210px;
							max-width: 320px;
						}



			.kategori, .kategori h2{
				margin: 0;
				padding-bottom: 10px;
				display: none;
			}

			.billede:hover {
				cursor: pointer;
			}

			.product_text{
				width: 100%;
				position: absolute;
				top: 235px;
				text-align: center;
				font-size: 20px;
				font-family: "Trebuchet MS";
				font-weight: bold;
				color: #5b5b5b;
			}

			.product_text p{
			display: inline-block;
			}

			.buy{
				position: relative;
				top: 60px;
			}

			.buy_btn{
				height: 30px;
				width: 90px;
				/*background-color: #4CAF50;*/
				background-color: black;
				border: 1px solid black;
				/*border-radius: 20px; */
				position: relative;
				left: 50%;
				transform: translate(-50%);
				bottom: 15px;
			}

			.buy_btn:hover{
				cursor: pointer;
			}

			.buy_btn:active{
				transform: scale(1.5) translate(-35%);
			}

			.buy_text{
				position: relative;
				bottom: 48px;
				pointer-events: none;
				color: white;
				font-family: Verdana;
				font-size: 11px;
			}


@media only screen and (max-width: 700px){

	#kategori_beskrivelse {
		display: none;
	}

	.path_container .path_text  a{
		font-size: 25px;
	}

	.path_container {
		padding-bottom: 0;
	}

	.product_container{
		width: 100%;
		height: 273px;
	}

		.billede{
			width: 100%;
			height: 120px;
		}

		.billede img{
			height: 120px;
		}

		.product_text{
			position: relative;
			top: -10px;
		}

		.buy{
			top: 0;
			height: 10px;
		}
}