html, body{
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

body{
	background-color: white;
}

    #content{
		position: relative;
		background-color: white;
		max-width: 1400px;
		margin: auto;
		min-height: 1000px;
	}

	#container{
		min-height: 100%;
		max-width: 1200px;
		margin: auto;
	}

	.name_container{
		position: relative;
		margin-top: 50px;
		margin-bottom: 25px;
		text-align: center;
		font-size: 20px;
	}

		.pic_container:after{
			content:"";
			background: darkgray;
			position: absolute;
			bottom: 32%;
			right: 50%;
			height: 47%;
			width: 1px;
		}

		.pic_container img{
			position: relative;
			max-height: 375px;
			display: inline-block;
			left: 50%;
			transform: translate(-50%);
		}

		.image_container{
			position: relative;
			height: 150px;
			right: 600px;
			top: 550px;
		}

			.image_1, .image_2{
				max-width: 240px;
				height: 150px;
				background-size: contain;
			}

	.text_container{
		position: relative;
		margin-right: 70px;
		width: 400px;
		float: right;
	}

		.pris_container{

		}

			.pris{
				font-family: Verdana;
				font-size: 28px;
				text-align: center;
				color: #969696;
				margin-bottom: 30px;
			}

		.status_container{

		}

			.status{
				font-family: Verdana;
				font-size: 14px;
				color: #3cc900;
			}

		.text{
			color: #515151;
			margin-top: 50px;
			text-align: justify;
			font-size: 17px;
			font-family: Helvetica;
		}

		.buy_container{
			width: 400px;
		}

		.minus_container, .plus_container{
			height: 35px;
			background-color: #ededed;
		}

		.buy_btn_container{
			height: 35px;
			background-color: black;
			border-left: 4px solid white;
		}

		.minus, .plus{
			font-family: Verdana;
			font-weight: bold;
			position: relative;
			text-align: center;
			color: #969696;
			font-size: 17px;
			border-radius: 15px;
			width: 100%;
			top: -50%;
			transform: translateY(40%);
		}

		.antal_container{
			height: 35px;
		}

			#antal{
				width: 100%;
				height: 35px;
				text-align: center;
				color: #969696;
				background-color: #ededed;
				font-size: 17px;
				border: none;
				border-left: 4px solid white;
				border-right: 4px solid white;

			}

			.buy_btn{
				position: relative;
				text-align: center;
				top: -50%;
				transform: translateY(50%);
				color: white;
				font-size: 16px;
				border: none;
				font-family: Verdana;
				height: 19px;
			}

		.follow_container{
			position: relative;
			top: 120px;
		}

		.follow_text{
			font-size: 20px;
			font-family: Verdana;
		}

		#facebook_img{
			background-image: url("/static/images/Facebook_icon.png");
			background-size: cover;
			height: 50px;
			width: 50px;
		}

		#facebook_img:hover, .minus_container:hover, .plus_container:hover, .buy_btn_container:hover,
		.box:hover, .image_1:hover, .image_2:hover{
			cursor: pointer;
		}

	.alt_container{
		margin-top: 150px;
		margin-bottom: 20px;
		height: 300px;
	}

	.box_container{
		text-align: center;
		padding-bottom: 20px;
	}

	.box{
		margin-top: 20px;
		margin-right: 10px;
		background-size: cover;
		width: 270px;
		height: 180px;
		display: inline-block;

	}

	.alt_text{
		border-top: 1px solid black;
	}

@media only screen and (max-width: 1200px) {

	.follow_container{
		top: 50px;
		left: 26px;
	}

	.pic_container:after{
		content:"";
		background: darkgray;
		position: absolute;
		bottom: 45%;
		right: 50%;
		height: 40%;
		width: 1px;
	}

	.pic_container img{
		max-height: 250px;
	}

	.image_container{
		right: 400px;
		top: 450px;
	}

	.image_1, .image_2{
		width: 163px;
		height: 100px;
		background-size: contain;
	}

	.buy_container{
		width: unset;
	}

	.text_container{
		margin-right: 0;
		width: 370px;
	}

	.text{
		text-align: unset;
	}

	.alt_container{
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.box_container, .alt_text{
		border: none;
	}

	.box{
		width: 24%;
		height: 120px;
		background-size: contain;
		background-repeat: no-repeat;

	}

	.alt_container{
		margin-bottom: 0;
		margin-top: 80px;
	}
}

@media only screen and (max-width: 700px){
	.pic_container img{
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: auto;
		height: auto;
		max-height: 150px;
	}

	.pic_container:after{
		display: none;
	}

	.image_container{
		width: 80%;
		position: relative;
		left: 50%;
		transform: translate(-50%);
		margin-top: 0;
		height: 100px;
		z-index: 1;
		top: 0;
	}

	.image_1, .image_2{
		background-size: contain;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
	}

	.text_container{
		float: none;
		width: 80%;
		margin: 0;
		left: 50%;
		transform: translate(-50%);
		top: 30px;
	}

	.pris{
	}

	.buy_container{
		width: 100%;
	}

	.text{
		margin-top: 10px;
	}

	.follow_container{
		top: 10px;
	}

	.alt_container{
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.box_container, .alt_text{
		border: none;
	}

	.box{
		width: 40%;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;

	}
}

