<div class="row">
    <div id="footer">
        <div id="footer_container">
                <hr>
            <div class="col-4 col-m-4 col-s-12">
                <div class="footer_text" id="f_left">
                    <p>
                        <br>
                        KONTAKT <br>
                        gellett@gellettleather.dk <br>
                        tlf: 74762222 <br>
                        mandag-fredag 08:00-17:30 <br>
                    </p>
                </div>
            </div>
            <div class="col-4 col-m-4 col-s-12">
                <div class="footer_text" id="f_mid">
                    <p>
                        <br>
                        CVR-nr. 33447205 <br>
                        Agerglimt 47 <br>
                        6340 Kruså <br><br></p>
                </div>
            </div>
                <div class="col-4 col-m-4 col-s-12">
                    <div class="footer_text" id="f_right">
                        <p><br>Vi sender med </p>
                        <div id="gls_logo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/footer.css">