<div id="footer">
    <div id="footer_container">
        <hr>
        <div class="footer_box" id="f_left">
            <p>Åbningstider <br>
            mandag-fredag 08:00-17:30 <br>
            tlf: 74762222</p>
        </div>
        <div class="footer_box" id="f_mid">
            <p>Kontakt E-mail <br>
            gellett@gellettleather.dk <br> <br></p>
        </div>
        <div class="footer_box" id="f_right">
            <p>Vi sender med <br> <br> <br></p>
            <div id="gls_logo"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/footer.css">