<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121222558-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121222558-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/colums.css">
    <link rel="stylesheet" type="text/css" href="/static/css/handelsbetingelser.css?v=1.03">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/varer.js?v=5.02"></script>
    <title>{{ titel }}</title>
</head>
<body id="body">

    {% include 'header.html' %}

        <div id="content">

            <div id="container">

                {% include 'nav.html' %}

                <div class="row">
                    <span>

                        <h2 id="retur">Handelsbetingelser</h2>

                        <h4>Tryghedsgaranti/fortrydelse/returnering</h4>

                        Du har god tid til at vurdere dit køb. Indenfor 14 dage kan du nemlig fortryde dit køb og sende eller levere varen tilbage, forudsat at det sker i samme stand som du modtog den. Du betaler returportoen. Husk at vedlægge fakturaen eller en fotokopi, så kan du få alle pengene tilbage.

                        Skulle der mod forventning være fejl på varen du modtager, så kontakt da venligst Gellett Leather Danmark inden returnering. <br>


                        Varer retur skal ske til følgende adresse: <br>

                        Gellett Leather Danmark Aps <br>

                        Agerglimt 47 <br>

                        6340 Kruså


                        <h4>Personlige oplysninger</h4>

                        Alle oplysninger behandler vi med størst mulig diskretion. Oplysningerne bruges KUN i forbindelse med forsendelser og mail-service og da kun hvis du har tilmeldt dig denne. Alle betalings- og kreditkort oplysninger beskyttes, hvilket betyder at informationen krypteres mellem din Internet browser og serveren. Vi garanterer, at vi aldrig sælger, udlejer eller udlåner personlige oplysninger til tredje person.


                        <h4>Leveringstid</h4>

                        Leveringstiden er typisk 1 - 3 hverdage for lagervarer. For ikke-lagervarer leveres varen samme, eller første, hverdag efter vi har modtaget den.


                        <h4>Priser</h4>

                        Alle priser er inkl. 25 % moms. Priser på tilbuds- og kampagnevarer gælder kun i en tidsbegrænset periode eller til varen er udsolgt. Der tages forbehold for eventuelle prisændringer, som er uden for vor indflydelse (prisstigninger, nye pris- og afgiftslove, porto-/transportstigninger, omkostningsstigninger mv.) samt mod trykfejl og/eller fejloplyste priser under www.gellettleather.dk


                        <h4>Forsendelse</h4>

                        Hos Gellett Leather Danmark betaler er kommer forsendelsen højst til at koste 59 kroner, uanset antal varer.  <br>
                        Alle ordrer sendes fra Gellett Leather Danmark med GLS eller Postnord, og vil blive leveret til den indtastede adresse. <br>
                        Leverer kun til danske adresser.


                        <h4>Risiko</h4>

                        Gellett Leather Danmark ApS bærer risikoen under forsendelsen frem til kunden og erstatter varen, hvis den undervejs bliver beskadiget, stjålet eller lignende. Hvis det sker, kontakt os da straks og påregn omkring 14 dage til at håndtere en ny afsendelse.

                        Bemærk:

                        Hvis adresseoplysningerne er ufuldstændige eller med fejl (f.eks. at en del af navnet, gadenummer eller etage mangler) eller at forsendelsen ikke er afhentet ved en pakke shop inden henliggelsesfristen udløb og derfor skal genfremsendes, skal forsendelsesomkostningerne på ny betales af kunden.


                        <h4>Betalingsmåder</h4>

                        Følgende betalingsmåder kan anvendes: Dankort, Visa/Dankort, Mastercard og kan også gøres ved brug af MobilePay. Når du betaler med Dankort eller Visa/Dankort skal du blot indtaste dit kortnummer, udløbsdato og kontrolcifre ved bestillingen. Betaler du med MasterCard, kommer der automatisk et gebyr på 3,75% på din ordre. <br>

                        Bemærk: Vi sender ikke varer på efterkrav/postopkrævning.

                        <h4>Betalingen</h4>

                        Selve betalingen for din bestilling trækkes ikke på betalings- og kreditkort, før varen er afsendt fra vores lager.


                        <h4>Sikkerhed</h4>

                        Alle oplysninger om kortnummer, udløbsdato og kontrolcifre beskyttes, hvilket betyder at informationen krypteres mellem din Internet browser og serveren. Vi modtager ikke kortnummer, kontrolcifre eller udløbsdato! Vi kan derfor ikke senere gøre brug af dette, for at trække yderligere et beløb på din konto, ved en evt. ny bestilling.


                        <h4>Kvittering</h4>

                        Ved evt. ombytning eller reklamation, vedlægges fakturaen.

                        E-handelsloven og Forbrugeraftaleloven;
                        Dit køb hos www.gellettleather.dk via internettet er underlagt almindelig dansk lovgivning, herunder at man skal være mindst 18 år. Rettigheder og sikkerhed i øvrigt: Læs om sikkerhed og dine rettigheder når du handler på internettet på forbrugerstyrelsen: www.forbrug.dk

                    </span>
                </div>

            </div>
        </div>
    {% include 'footer.html' %}

</body>
</html>