<div class="row">


        <div id="header">


            <div class="row" id="top_header">
                <div id="flex">
                    <div class="col-3 col-m-3 col-s-6 flex2" id="left">
                        <div id="paypal">
                            <div id="paypal_logo"></div>
                        </div>
                    </div>

                    <div class="col-6 col-m-6 col-s-12 flex1">
                        <div id="logo_container">
                            <a href="/"><div id="logo"></div></a>
                        </div>
                    </div>



                    <div class="col-3 col-m-3 col-s-6 flex2" id="right">
                        <div id="mobilepay">
                            <div id="mobilepay_logo"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="bot_header">
                <div class="col-12">
                    <div id="ombygning_container">
                        <p>Vores hjemmeside er igang med at få et nyt lækkert og moderne re-design, og er klar til julekøb den 5. november.</p>
                    </div>
                </div>
            </div>
        </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/header.css?v=3">