<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

<div class="row" id="bot_header">
    <div id="ombygning_container">
        <p>Fri fragt på alle varer indtil 24/12/2018.</p>
        <!-- <p>Fri fragt ved køb over 300 DKK.-</p>-->
    </div>
</div>

<div class="row header_row">


        <div id="header">

            <div class="row" id="top_header">

                    <div class="col-12 col-m-12 col-s-6 flex1">
                        <div id="logo_container">
                            <a href="/"><div id="logo"></div></a>
                        </div>
                    </div>

                    <div class="right_header col-6 col-m-6 col-s-6">

                        <div class="dropdown">
                            <div class="dropbtn">
                                <img src="/static/images/icons8-menu-32.png" alt="burgermenu" style="height: 32px; width: 32px">
                            </div>
                            <div class="dropdown-content">
                                <!--<p id="produkter" class="dropdown_content_1">Produkter</p>-->
                                <p><a href="/tasker">Tasker</a> <img class="dropdown_content_tasker" src="/static/images/icons8-arrow.png" alt="arrow_down" style="height: 24px; width: 24px"> </p>
                                    <a class="dropdown_content_2 dropdown_content_2_tasker" href="/tasker/dametasker">- Dametasker</a>
                                    <a class="dropdown_content_2 dropdown_content_2_tasker" href="/tasker/kunstlaeder">- Kunstlæder</a>
                                    <a class="dropdown_content_2 dropdown_content_2_tasker" href="/tasker/computertasker">- Computertasker</a>
                                <p><a href="/punge">Punge</a> <img class="dropdown_content_punge" src="/static/images/icons8-arrow.png" alt="arrow_down" style="height: 24px; width: 24px"> </p>
                                    <a class="dropdown_content_2 dropdown_content_2_punge" href="/punge/damepunge">- Damepunge</a>
                                    <a class="dropdown_content_2 dropdown_content_2_punge" href="/punge/herrepunge">- Herrepunge</a>
                                <p><a href="/mapper">Mapper</a><img class="dropdown_content_mapper" src="/static/images/icons8-arrow.png" alt="arrow_down" style="height: 24px; width: 24px"> </p>
                                    <a class="dropdown_content_2 dropdown_content_2_mapper" href="/mapper/skrivemapper">- Skrivemapper</a>
                                    <a class="dropdown_content_2 dropdown_content_2_mapper" href="/mapper/kredit&visitkortmapper">- Kredit- & visitkortmapper</a>
                                <p><a href="/rejseserien">Rejseserien</a> <img class="dropdown_content_rejseserien" src="/static/images/icons8-arrow.png" alt="arrow_down" style="height: 24px; width: 24px"> </p>
                                    <a class="dropdown_content_2 dropdown_content_2_rejseserien" href="/rejseserien/rejsetasker">- Rejsetasker</a>
                                    <a class="dropdown_content_2 dropdown_content_2_rejseserien" href="/rejseserien/valutamapper">- Valutamapper</a>
                                <a href="/accessories">Accecories</a>
                                <a href="/om_os">Om os</a>
                            </div>
                        </div>

                        <a href="/indkoebsvogn"> <img src="/static/images/icons8-shopping-bag.png" alt="shopping-bag" style="height: 32px; width: 32px"></a>

                        <input id="vare_antal_header" title="antal" name="antal" type="text" value="0" readonly>

                    </div>

            </div>
        </div>

        <div id="overlay"></div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/header.css?v=3.01">
<script src="/static/js/header.js"></script>