<!DOCTYPE html>
<html lang="da">


<head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121222558-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121222558-1');
    </script>
    <meta name="description" content="Punge, tasker og andet, lavet i kvalitetslæder. Billigt, kvalitet og god pris">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/colums.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Index.css?v=1.20">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/index.js?v=5.1"></script>
	<title>Gellett Leather Denmark - kvalitetslæder til en god pris</title>
</head>


<body id="body">

	{% include 'header.html' %}

	<div id="content">
		{% include 'nav.html' %}

        <div class="row">
            <div id="pic_container">
                <div class="col-12 col-m-12 col-s-12" id="front_pic">
                    <div class="center_pic">
                        <img src="/static/images/Forside-billede1-min.jpg" alt="front_img" id="center_pic"><button onclick="window.location.href='/tasker'" id="buy_btn1"> <span>SHOP</span></button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div id="products">
           <div id="bestseller"><h1>Populære kategorier</h1></div>
            <div class="row">

                <div class="col-4 col-m-4 col-s-12">
                    <div class="product_container" id="product_left">
                        <img src="/static/images/punge1-min.jpg" alt="punge" class="product_pic" id="pic_left"><button onclick="window.location.href='/punge'" id="buy_btn2"><span>SHOP PUNGE</span></button>
                        <div class="product_text"></div>
                    </div>
                </div>
                <div class="col-4 col-m-4 col-s-12">
                    <div class="product_container" id="product_mid">
                        <img src="/static/images/taskepic-min.jpg" alt="taske" class="product_pic" id="pic_mid"><button onclick="window.location.href='/tasker'" id="buy_btn3"><span>SHOP TASKER</span></button>
                        <div class="product_text"></div>
                    </div>
                </div>
                <div class="col-4 col-m-4 col-s-12">
                    <div class="product_container" id="product_right">
                        <img src="/static/images/bromance-min.jpg" alt="bracelets" class="product_pic" id="pic_right"><button onclick="window.location.href='/tilbehoer'" id="buy_btn4"><span>SHOP ACCESSORIES</span></button>
                        <div class="product_text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cookies">
        <div id="cookies_wrapper">
            <h3>Velkommen til Gellett Leather Danmark</h3>
            <p>Vi bruger cookies, hvilket vi bruger til analysere hjemmesiden, og finde ud af hvad kunderne gerne vil se på,
                og hvad der fungerer, sådan at kunderne får den mest behagelige oplevelse hos os.</p>
            <div id="okay"><p>Okay</p></div>
        </div>
    </div>


	{% include 'footer.html' %}

</body>


</html>