<!DOCTYPE html>
<html lang="en">
<head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121222558-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121222558-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/colums.css">
    <link rel="stylesheet" type="text/css" href="/static/css/indkoebsvogn.css?v=3.03">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/indkoebsvogn.js?v=1.07"></script>
    <title>{{ titel }}</title>
</head>
<body id="body">

    {% include 'header.html' %}

        <div id="content">

            <div id="container">

                {% include 'nav.html' %}

                <div id="vare_container" class="row">

                </div>

                <div id="buy">
                    <button type="button" id="buy_btn">Gå til levering</button>
                </div>

                <div id="empty">
                    <button type="button" id="empty_btn">Tøm kurv</button>
                </div>

                <div id="rabat_btn_container">
                    <button type="button" id="rabat_btn">Rabatkode</button>
                </div>

                <section id="rabatkode">
                    <p id="rabat_x">x</p>
                    <h1>Rabatkode</h1>
                    <input id="rabatkode_input" type="text" placeholder="Skriv rabatkode">
                    <button type="button" id="redeem_rabatkode_btn">Indløs</button>
                </section>
            </div>
        </div>

    {% include 'footer.html' %}

</body>
</html>