<div id="menu">
    <div id="menu_list">
        <ul>
            <li><a href="/skindtasker"><p>Skindtasker</p></a>
                <ul>
                    <li><a href="/skindtasker/dametasker"><div class="tekst">Dametasker</div></a></li>
                    <li><a href="/skindtasker/computertasker"><div class="tekst">Computertasker</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="/punge"><p>Punge</p></a>
                <ul>
                    <li><a href="/punge/damepunge"><div class="tekst">Damepunge</div></a></li>
                    <li><a href="/punge/herrepunge"><div class="tekst">Herrepunge</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="/mapper"><p>Mapper</p></a>
                <ul>
                    <li><a href="skrivemapper"><div class="tekst">Skrivemapper</div></a></li>
                    <li><a href="kredit-_&_visitkortmapper"><div class="tekst">Kredit- & <br> visitkortmapper</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="/rejseserien"><p>Rejseserien</p></a>
                <ul>
                    <li><a href="rejsetasker"><div class="tekst">Rejsetasker</div></a></li>
                    <li><a href="valutamapper"><div class="tekst">Valutamapper</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="/tilbehoer"><p>Tilbehør</p></a></li>
        </ul>
        <ul>
            <li><a href="om_os"><p>Om os</p></a></li>
        </ul>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="/static/css/menu.css">