<div id="menu">
    <div id="menu_list">
        <ul>
            <li><a href="skindtasker.html"><p>Skindtasker</p></a>
                <ul>
                    <li><a href="dametasker.html"><div class="tekst">Dametasker</div></a></li>
                    <li><a href="herretasker.html"><div class="tekst">Herretasker</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="punge.html"><p>Punge</p></a>
                <ul>
                    <li><a href="damepunge.html"><div class="tekst">Damepunge</div></a></li>
                    <li><a href="herrepunge.html"><div class="tekst">Herrepunge</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="mapper.html"><p>Mapper</p></a>
                <ul>
                    <li><a href="skrivemapper.html"><div class="tekst">Skrivemapper</div></a></li>
                    <li><a href="kredit-_&_visitkortmapper.html"><div class="tekst">Kredit- & <br> visitkortmapper</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="rejseserien.html"><p>Rejseserien</p></a>
                <ul>
                    <li><a href="rejsetasker.html"><div class="tekst">Rejsetasker</div></a></li>
                    <li><a href="valutamapper.html"><div class="tekst">Valutamapper</div></a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="computertasker.html"><p>Computertasker</p></a></li>
        </ul>
        <ul>
            <li><a href="timere.html"><p>Timere</p></a></li>
        </ul>
        <ul>
            <li><a href="tilbehør.html"><p>Tilbehør</p></a></li>
        </ul>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="static/css/menu.css">