<div class="row">

        <div id="nav">
            <div class="col-12">
                <div class="dropdown">
                    <button class="dropbtn">Dropdown
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>


                <div id="list">
                    <ul>
                        <li><a href="skindtasker">Skindtasker</a></li>
                        <li><a href="punge">Punge</a></li>
                        <li><a href="mapper">Mapper</a></li>
                        <li><a href="rejseserien">Rejseserien</a></li>
                        <li><a href="tilbehoer">Tilbehør</a></li>
                        <li><a href="om_os">Om os</a></li>
                    </ul>
                </div>
                <hr>
            </div>


        </div>

</div>
<link rel="stylesheet" type="text/css" href="/static/css/nav.css">