<div id="nav">
    <div id="list">
        <ul>
            <li><a href="skindtasker.html">Skindtasker</a></li>
            <li><a href="punge.html">Punge</a></li>
            <li><a href="mapper.html">Mapper</a></li>
            <li><a href="rejseserien.html">Rejseserien</a></li>
            <li><a href="computertasker.html">Computertasker</a></li>
            <li><a href="timere.html">Timere</a></li>
            <li><a href="tilbehør.html">Tilbehør</a></li>
        </ul>
    </div>

    <hr>

</div>

<link rel="stylesheet" type="text/css" href="/static/css/nav.css">