<!DOCTYPE html>
<html lang="en">
<head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121222558-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121222558-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/colums.css">
    <link rel="stylesheet" type="text/css" href="/static/css/om_os.css?v=1.07">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{ titel }}</title>
</head>
<body id="body">

    {% include 'header.html' %}

        <div id="content">

            <div id="container">

                {% include 'nav.html' %}


                <div class="row">
                    <div class="col-8 col col-s-12">
                        <article id="projekter">
                            <h4>Om Gellett Leather</h4>
                            <p>
                            <!-- Gellett leather Danmark har mange års erfaring med produktion af lædervarer som punge, tasker og mapper.

                            Denne know-how har ført til et samarbejde med Udenrigsministeriet og Danida under det såkaldte B2B (Business-to-Business) program.

                            Danidas B2B program har som hovedformål at skaffe lokale arbejdspladser i den 3. verden.
                            I Gellett Leather har vi derfor med vores know-how startet flere produktionsvirksomheder for Danida bl.a. i Togo, Mozambique og Burkina Faso. -->

                            Gellett Leather er en familieejet virksomhed. Virksomheden er startet i 1978 i København. Firmaet opstod da lædervarer firmaet ARENA læder gik konkurs og gav grundlæggeren mulighed for at opkøbe virksomheden, som i dag hedder Gellett Leather.
                                <br>
                            Gellett Leather producerer punge, tasker og mapper. Vi samarbejder både med udenrigsministeriet og Danida. Hovedformålet med vores samarbejde med Danidas har været at finde lokale arbejdspladser i den 3. verden. Vi i Gellett Leather Denmark har stor know-how indenfor området og vi har derfor startet flere produktionsvirksomheder for Danida i bl.a.Togo, Mozambique og Burkina Faso.
                                <br>
                            Vores mission er at levere danskproducerede højkvalitetsprodukter til mænd og kvinder.
                                <br>
                            Vores vision er at fortsætte med at vokse, men dog i et tempo, hvor det ikke forudsætter, at vi går på kompromis med vores høje kvalitet.

                            </p>
                            <section id="levering">
                                <h4>Levering</h4>
                                <p>
                                    Vi tilbyder på nuværende tidspunkt kun levering til kunder i Danmark. Ved bestilling afsendes ordren indenfor 24 timer. Normal leveringstid til adresser i Danmark er 1-2 hverdage efter ordreafsendelse. Alle varer sendes med GLS eller Postnord.
                                    <br>
                                    Alle varer leveres så længe lager haves.
                                </p>

                                <div id="logo-container1"></div>
                                <div id="logo-container2"></div>
                            </section>
                        </article>

                    </div>

                    <div class="col-4 col-s-12">
                        <div id="støtter">
                            <h4>Vi støtter</h4>
                            <p>Vi har hos Gellett Leather ApS valgt at støtte følgende organisationer.</p>
                            <div id="støtter_list">
                                <ul>
                                    <li>Kræftens bekæmpelse</li>
                                    <li>WSPA (World Society for the Protection of Animals)</li>
                                    <li>Red barnet</li>
                                </ul>
                            </div>
                            <div id="logos">
                        <div class="col-4 col-m-4 col-s-12">
                            <div class="logo" id="logo1"></div>
                        </div>
                        <div class="col-4 col-m-4 col-s-12">
                            <div class="logo" id="logo2"></div>
                        </div>
                        <div class="col-4 col-m-4 col-s-12">
                            <div class="logo" id="logo3"></div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <p>Læs vores handelsbetingelser <a href="handelsbetingelser">Her</a></p>
            </div>
        </div>
    {% include 'footer.html' %}

</body>
</html>